@model ASPIdentity.Models.Klub

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Klub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
